@font-face {
  font-family: "SegoeUI";
  src: url(../fonts/SegoeUILight/SegoeUI.eot), url(../fonts/SegoeUILight/SegoeUI.woff), url(../fonts/SegoeUILight/SegoeUI.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "SegoeUI";
  src: url(../fonts/SegoeUIRegular/SegoeUI.eot), url(../fonts/SegoeUIRegular/SegoeUI.woff), url(../fonts/SegoeUIRegular/SegoeUI.ttf);
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  height: 100%; }

* {
  box-sizing: inherit; }

a {
  text-decoration: none; }

h1 {
  margin: 0; }

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "SegoeUI", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  background-color: #fff; }

@media only screen and (max-width: 1430px) {
  .body {
    font-size: 22px; } }

@media only screen and (max-width: 525px) {
  .body {
    font-size: 18px; } }

.container {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1430px; }

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media only screen and (max-width: 1000px) {
  .page-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; } }

.logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.logo__text {
  font-size: 1.83333em;
  line-height: 1.04545;
  font-family: "SegoeUI", "Helvetica", "Arial", sans-serif;
  color: #000;
  margin-bottom: 0em;
  display: block; }

.logo__subtext {
  font-size: 0.83333em;
  line-height: 2;
  font-family: "SegoeUI", "Helvetica", "Arial", sans-serif;
  color: #000;
  margin-bottom: 0em;
  display: block; }

.main-header {
  padding-top: 2.04167em;
  padding-bottom: 1.66667em; }

@media only screen and (max-width: 1000px) {
  .main-header {
    padding-top: 1.20833em;
    padding-bottom: 0.83333em; } }

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.33333em; }

@media only screen and (max-width: 1000px) {
  .menu-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 525px) {
  .menu-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.54167em;
  padding-top: 0.25em; }

.nav-list__item {
  margin-right: 1.54167em; }

.nav-list__item:last-child {
  margin-right: 0; }

.nav-list__link {
  font-size: 1em;
  line-height: 1.33333;
  font-family: "SegoeUI", "Helvetica", "Arial", sans-serif;
  color: #0064aa;
  margin-bottom: 0.20833em;
  transition: color 150ms ease; }

.nav-list__link:hover {
  color: #000; }

@media only screen and (max-width: 525px) {
  .nav-list {
    margin-right: 0;
    margin-bottom: 0.83333em; } }

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.soc-list__item {
  margin-right: 1.125em; }

.soc-list__item:last-child {
  margin-right: 0; }

.soc-list__link {
  display: block;
  height: 34px;
  font-size: 0;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url(../img/sprite-soc.png);
  transition: opacity 200ms ease; }

.soc-list__link:hover {
  opacity: 0.8; }

.soc-list__link--fb {
  width: 21px;
  background-position: -10px -90px; }

.soc-list__link--tw {
  width: 33px;
  background-position: -5px -2px; }

.soc-list__link--vk {
  width: 37px;
  background-position: -5px -45px; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.main-title {
  margin-bottom: 0.54167em;
  font-size: 5.08333em;
  font-weight: 300;
  line-height: 1.1;
  text-indent: -8px;
  letter-spacing: 1px; }

@media only screen and (max-width: 1430px) {
  .main-title {
    font-size: 3.75em;
    text-align: center; } }

@media only screen and (max-width: 525px) {
  .main-title {
    font-size: 2.5em;
    text-align: center; } }

.select {
  position: relative;
  padding-bottom: 1.33333em;
  font-size: 1.5em;
  line-height: 1.66667em;
  font-weight: 300; }

.select__open {
  color: #0064aa;
  cursor: pointer;
  transition: color 150ms ease; }

.select__open:hover {
  color: #000; }

.select__cities {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  min-width: 37px;
  min-height: 37px;
  z-index: 2;
  position: absolute;
  top: 107px;
  left: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-width: 200px;
          column-width: 200px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  max-width: 1042px;
  width: 100%;
  padding-top: 0.66667em;
  padding-left: 1.375em;
  padding-right: 1.375em;
  padding-bottom: 1.04167em;
  text-align: left;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px; }
  .select__cities:after, .select__cities:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .select__cities:after {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 18.5px;
    border-bottom-color: #FFF; }
  .select__cities:before {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 19.5px;
    border-bottom-color: #000;
    margin-left: -1px;
    margin-top: -1.5px; }

.select__cities:before {
  top: -53px;
  left: 180px;
  border-bottom-width: 35px; }

.select__cities:after {
  top: -51px;
  left: 180px;
  border-bottom-width: 33px; }

.select__city {
  font-size: 24px;
  line-height: 40px;
  font-weight: normal;
  color: #0064aa;
  transition: color 150ms ease; }

.select__city:hover {
  color: #000; }

.select__city:hover {
  cursor: pointer; }

@media only screen and (max-width: 1430px) {
  .select {
    text-align: center; }
  .select__cities {
    top: 98px;
    width: 100%;
    max-width: none; }
  .select__cities:before,
  .select__cities:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .select__cities:before {
    left: 50%;
    margin-left: 0px; } }

@media only screen and (max-width: 768px) {
  .select__cities {
    -webkit-column-gap: 15px;
            column-gap: 15px; } }

@media only screen and (max-width: 525px) {
  .select__cities {
    top: 81px;
    text-align: center; } }

.places-wrap {
  overflow: hidden;
  /*background-image: url(../img/bg__places-wrap_left.png), 
		                url(../img/bg__places-wrap_right.png);
	background-repeat: no-repeat;
	background-position: left 413px, right 413px;*/ }

.places {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 423px;
  background-color: #fff; }

.places:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  margin-left: -573px;
  width: 596px;
  height: 590px;
  background-image: url(../img/bg__places-wrap_left.png); }

.places:after {
  content: '';
  position: absolute;
  top: 105px;
  right: 0;
  display: block;
  margin-right: -576px;
  width: 568px;
  height: 519px;
  background-image: url(../img/bg__places-wrap_right.png); }

.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.places__item {
  margin-right: 1.25em;
  margin-bottom: 1.04167em; }

.places__add-wrap {
  height: 100%;
  max-width: 327px;
  width: 100%; }

.places__add {
  position: relative;
  padding-top: 3.29167em;
  padding-left: 0.91667em;
  padding-right: 0.75em;
  padding-bottom: 0.83333em;
  width: 100%;
  max-width: 327px;
  height: 328px;
  font-size: 1.5em;
  line-height: 1.125em;
  font-weight: 300;
  background-color: #eeeeee;
  border-radius: 2px;
  overflow: hidden; }

.places__item.places__add-wrap {
  margin-right: 0; }

.places__add:before {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  content: '';
  position: absolute;
  top: 15px;
  left: 33px;
  display: block;
  width: 70px;
  height: 89px;
  background-image: url(../img/icon-manFlag.png); }

.places__nowrap {
  white-space: nowrap; }

.places__add-btn {
  margin-top: 1.16667em; }

@media only screen and (max-width: 1430px) {
  .places {
    margin-bottom: 8.33333em; }
  .places__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .places__item.places__add-wrap {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 15px; }
  .places__item {
    margin: 0 15px 20px; }
  .places__add {
    margin-right: 30px; } }

@media only screen and (max-width: 768px) {
  .places {
    margin-bottom: 2.08333em; }
  .places__add {
    padding-top: 1.875em; }
  .item-place__img {
    opacity: 1; }
  .places__add:before {
    left: auto;
    right: -15px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .places__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    flex-direction: column; } }

@media only screen and (max-width: 525px) {
  .places__item.places__add-wrap {
    margin-right: 0; }
  .places__add {
    font-size: 2.08333em; }
  .places__item {
    margin: 0 0 15px; }
  .places__add-btn {
    margin-top: 2.08333em; } }

.item-place__in {
  position: relative;
  width: 100%;
  max-width: 327px;
  height: 328px;
  background-color: #000;
  border-radius: 2px;
  overflow: hidden; }

.item-place__img {
  opacity: 0.6;
  width: 100%;
  transition: opacity 200ms ease; }

.item-place__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.75em 1.08333em;
  width: 100%;
  font-weight: 400;
  background-color: transparent;
  color: #fff;
  transition: background-color 200ms ease;
  overflow: hidden; }

.item-place__city {
  font-size: 0.75em;
  line-height: 1.66667em; }

.item-place:hover {
  cursor: pointer; }

.item-place:hover .item-place__img {
  opacity: 1; }

.item-place:hover .item-place__desc {
  background-color: #8bc02e; }

@media only screen and (max-width: 1000px) {
  .item-place__desc {
    background-color: #8bc02e; }
  .item-place__img {
    opacity: 1; } }

.place {
  display: none;
  width: 100%;
  overflow: hidden; }

.place__in {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.625em;
  margin-bottom: 2.875em;
  width: 100%; }

.place__img {
  margin-right: 3.75em;
  width: 49%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.place__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.625em;
  padding-bottom: 0.83333em;
  padding-right: 3.33333em;
  width: 100%; }

.place__tit {
  margin-bottom: 0.58333em;
  font-size: 2.25em;
  line-height: 1.03;
  font-weight: 300; }

.place__text {
  margin-bottom: 1.41667em; }

.place__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.place__item {
  position: relative;
  padding-left: 1.66667em;
  padding-bottom: 0.625em; }

.place__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 31px;
  background-image: url(../img/place/sprites-place.png);
  background-repeat: no-repeat; }

.place__item_url:before {
  background-position: -2px -82px; }

.place__item_addr:before {
  background-position: -2px -6px; }

.place__item_name:before {
  background-position: -2px -46px; }

.place__link {
  color: #0064aa;
  transition: color 150ms ease; }

.place__link:hover {
  color: #000; }

.place__nowrap {
  white-space: nowrap; }

.place__close {
  position: absolute;
  top: 0;
  right: 0px;
  width: 13px;
  height: 13px;
  background-color: transparent; }

.place__close:hover {
  cursor: pointer; }

.place__close-line1,
.place__close-line2 {
  position: absolute;
  top: calc(50% - 1px);
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.place__close-line2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

@media only screen and (max-width: 1430px) {
  .place__img {
    margin-right: 2.08333em; } }

@media only screen and (max-width: 1200px) {
  .place {
    font-size: 0.75em; }
  .place__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1.25em;
    padding-top: 2.08333em;
    padding-bottom: 2.08333em;
    margin: 0 auto;
    max-width: 680px; }
  .place__item {
    padding-left: 2.08333em; }
  .place__img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.04167em; }
  .place__desc {
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (max-width: 768px) {
  .place__item {
    padding-left: 40px; } }

.btn {
  display: block;
  padding-top: 0.625em;
  padding-bottom: 0.79167em;
  padding-left: 0.41667em;
  padding-right: 0.41667em;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background-color: #8bc02e;
  border: 2px solid #4f760b;
  border-radius: 3px;
  box-shadow: inset 0px 5px 0px 0px #a7e639;
  transition: 200ms ease; }

.btn:hover {
  cursor: pointer;
  background-color: #7cab29;
  box-shadow: none;
  border-color: #3f5f09; }

.go-reg {
  padding-bottom: 1.66667em;
  text-align: center;
  background-image: url(../img/bg__go-reg.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-position: center 20px; }

.go-reg__text {
  display: block;
  font-size: 1.5em;
  line-height: 1.12;
  font-weight: 300;
  text-align: center; }

.go-reg__btn {
  display: inline-block;
  margin-top: 30px;
  padding-left: 1.95833em;
  padding-right: 1.95833em; }

.footer {
  padding-top: 4.16667em;
  padding-bottom: 4.79167em; }

@media only screen and (max-width: 768px) {
  .footer {
    padding-top: 2.08333em;
    padding-bottom: 2.08333em; } }

.footer-nav {
  margin-bottom: 39px; }

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer-nav__item {
  margin-bottom: 10px;
  padding: 0 1.58333em; }

.footer-nav__item_cont {
  padding-left: 76px; }

.footer-nav__item_conf {
  padding-right: 3.33333em; }

.footer-nav__link {
  color: #0064aa;
  transition: color 150ms ease; }

.footer-nav__link:hover {
  color: #000; }

@media only screen and (max-width: 1430px) {
  .footer-nav__item {
    padding: 0 0.625em; } }

.partners {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.partners__item {
  margin-bottom: 0.83333em;
  padding: 0 1.25em; }

.partners__link {
  display: block;
  font-size: 0;
  height: 25px;
  background-image: url(../img/partners/partners.png);
  background-repeat: no-repeat; }

.partners__link_windows {
  width: 127px;
  background-position: -5px -100px; }

.partners__link_vstudio {
  width: 178px;
  background-position: -5px -66px; }

.partners__link_mcazure {
  width: 138px;
  background-position: -5px -2px; }

.partners__link_winphone {
  width: 174px;
  background-position: -5px -136px; }

.partners__link_microsoft {
  width: 115px;
  background-position: -5px -31px; }

@media only screen and (max-width: 1430px) {
  .partners__item {
    padding: 0 0.625em; } }
