@font-face {
  font-family: "SegoeUI";
  src:  url(../fonts/SegoeUILight/SegoeUI.eot), 
			  url(../fonts/SegoeUILight/SegoeUI.woff),
				url(../fonts/SegoeUILight/SegoeUI.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  src:  url(../fonts/SegoeUIRegular/SegoeUI.eot), 
			  url(../fonts/SegoeUIRegular/SegoeUI.woff),
				url(../fonts/SegoeUIRegular/SegoeUI.ttf);
  font-weight: normal;
  font-style: normal;
}