$color__accent: #8bc02e !default;
$color__text-main: #000;
$color__text-light: #fff;
$color__link: #0064aa;
$color__link_hover: #000;
$bgcolor__btn: rgba(139, 192, 46, 1);
$bgcolor__btn-border: #4f760b;
$SegoeUI: "SegoeUI", "Helvetica", "Arial", sans-serif !default;
$base__font-size: 24 !default;
$base__line: 32 !default;


