.places-wrap {
	
	overflow: hidden;
	
	/*background-image: url(../img/bg__places-wrap_left.png), 
		                url(../img/bg__places-wrap_right.png);
	background-repeat: no-repeat;
	background-position: left 413px, right 413px;*/
}