.main-title {
	margin-bottom: em(13);
	font-size: em(122);
	font-weight: 300;
	line-height: 1.1;
	text-indent: -8px;
	letter-spacing: 1px;
}

@media only screen and (max-width: 1430px) {
	
	.main-title {
		font-size: em(90);
		text-align: center;
	}
}

@media only screen and (max-width: 525px) {
	
	.main-title {
		font-size: em(60);
		text-align: center;
	}
}
